<div class="container">
	<div class="header1">
		<div class="col-md-12 col-xs-12 col-lg-12">
			<%= link_to "Nosotros", about_path %> 
			<%=link_to "Login", new_user_session_path %>
			<%=link_to "Sign up", new_user_registration_path %>
		</div>
