<div class="container">
	<div class="header1">
		<div class="col-md-6 col-xs-6 col-lg-6" align="left">
		<h2><u>Rotten Tomaco</u></h2><img typeof="foaf:Image" itemprop="image" src="https://vignette4.wikia.nocookie.net/non-aliencreatures/images/6/6e/Tomacco.png/revision/latest?cb=20150206223636" width="200" height="100">
		<img typeof="foaf:Image" itemprop="image" src="http://media.gettyimages.com/photos/film-reel-and-movie-clapper-board-video-icon-3d-render-picture-id492854506?s=170667a&amp;w=1007" width="100"height="100">

<a href="http://www.quondos.com?ap_id=gmkt20" target="_blank"><img src="http://www.quondos.com/wp-content/uploads/affiliates/Banners_468x60.jpg" alt="Quondos" border="0" align="right"></a>
	
		<div class="col-md-6 col-xs-6 col-lg-6" align="right" >
			<p><b>Todas las peliculas disponibles en HD, Blue-ray i en screener.
			Toda la selecion de estilos para gaudir de una buena pelicula disfrutandola en casa.</b></p>
		<br>
		<br>
		
<ul class="headertxt">
	<button type="button"><a href="#news">MOVIES & DVDS</a></button>
          <button type="button"><a href="#news">TV</a></button>
          <button type="button"><a href="#news">NEWS</a></button>
          <button type="button"><a href="#about">TICKETS & SHOWTIMES</a></button>
      </ul>

		</div>
</div>