<div class="container">
<div class="row">
	<header class="col-xs-12 col-md-12 col-lg-12">
		<p><%= render "shared/header" %></p>
		<p><%= render "shared/footer" %></p>
</header>
</div>
	<div class="header2">
		<div class="col-xs-12 col-md-12 col-lg-12">
			<p>TREDING ON RT</p>
			
</div>
	