.header1 {
    background:green;
    width:1100px;
    height: 200px;
    text-align: right;
    padding: 45px;
   }
.header2{
	background:gray;
    width:1170px;
    height: 10px;
    padding: 10px; 
}
.ratings1{
    text-align: left;
}


